<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                </div>
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">Quiz Result</h4>
                        </div>
                        <div class="card-body ">
                            <form method="#" action="#">
                                <label>Quiz ID</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="1" disabled>
                                </div>

                                <label>Difficulty</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="Medium" disabled>
                                </div>

                                <label>Score</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="10" disabled>
                                </div>

                                <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round"
                                    title="Single Select" >
                                    <option disabled selected>Rate the quiz</option>
                                    <option value="2">1 Star</option>
                                    <option value="2">2 Stars</option>
                                    <option value="2">3 Stars</option>
                                    <option value="2">4 Stars</option>
                                    <option value="2">5 Stars</option>
                                </select>
                                <input type="text" class="form-control"
                                    placeholder="Anything you want to say about the quiz...">
                            </form>
                        </div>
                        <div class="card-footer ">
                            <button type="submit" class="btn btn-info btn-round" (click)="submit()">Confirm</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>