<div class="main-content">
  <h5>2/2</h5>
  <h2 style="text-align: center;">Which of these images represents Vertical Bone Loss?</h2>
  <div class="places-sweet-alerts">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card ">
          <div class="card-body text-center">
            <img src="./assets/img/quiz2.png" alt="">
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- <div class="card ">
            <div class="card-body text-center">
              <p class="card-text">Basic example</p>
              <button class="btn btn-outline-default btn-round" (click)="showSwal('basic')">Try me!</button>
            </div>
          </div> -->
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Stomach</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">A</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Large Intestine</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">B</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card ">
            <div class="card-body text-center">
              <p class="card-text">Custom HTML description</p>
              <button class="btn btn-outline-default btn-round" (click)="showSwal('custom-html')">Try me!</button>
            </div>
          </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- <div class="card ">
            <div class="card-body text-center">
              <p class="card-text">A warning message, with a function attached to the "Confirm" Button...</p>
              <button class="btn btn-outline-default btn-round" (click)="showSwal('warning-message-and-confirmation')">Try me!</button>
            </div>
          </div> -->
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Capillaries</p> -->
            <button class="btn btn-outline-default btn-round" (click)="correct()">C</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Epiglottis</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">D</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card ">
            <div class="card-body text-center">
              <p class="card-text">Modal window with input field</p>
              <button class="btn btn-outline-default btn-round" (click)="showSwal('input-field')">Try me!</button>
            </div>
          </div> -->
      </div>
    </div>


  </div>
</div>