<div class="main-content">
  <h5>1/2</h5>
  <h2 style="text-align: center;">Which part prevents food from entering the larynx?</h2>
  <div class="places-sweet-alerts">
    <div class="row">
      <div class="col-md-3">
        <!-- <div class="card ">
          <div class="card-body text-center">
            <p class="card-text">Basic example</p>
            <button class="btn btn-outline-default btn-round" (click)="showSwal('basic')">Try me!</button>
          </div>
        </div> -->
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Stomach</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">Stomach</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Large Intestine</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">Large Intestine</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card ">
          <div class="card-body text-center">
            <p class="card-text">Custom HTML description</p>
            <button class="btn btn-outline-default btn-round" (click)="showSwal('custom-html')">Try me!</button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- <div class="card ">
          <div class="card-body text-center">
            <p class="card-text">A warning message, with a function attached to the "Confirm" Button...</p>
            <button class="btn btn-outline-default btn-round" (click)="showSwal('warning-message-and-confirmation')">Try me!</button>
          </div>
        </div> -->
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Capillaries</p> -->
            <button class="btn btn-outline-default btn-round" (click)="wrong()">Capillaries</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card ">
          <div class="card-body text-center">
            <!-- <p class="card-text">Epiglottis</p> -->
            <button class="btn btn-outline-default btn-round" (click)="correct()">Epiglottis</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card ">
          <div class="card-body text-center">
            <p class="card-text">Modal window with input field</p>
            <button class="btn btn-outline-default btn-round" (click)="showSwal('input-field')">Try me!</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
